.form-container {
    max-width: 800px;
    min-width: 250px;

}
.form{
    display: flex; 
    justify-content:center;
    margin-top: 100px;
}
.form-title{
    margin-bottom: 40px;
}
.search-form{
    margin-left: 100px;
}
.form-field{
    min-width:500px;

}
.link{
    text-decoration:none;
}